@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* General */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Landing page */
.container-1 {
  width: 100%;
  overflow-x: hidden; 
  position: relative;
}

/* Header */
.header {
  display: flex;
  width: 100%;
  height: 5vh;
  padding: 4.8%;
  padding-top: 8vh;
  align-items: center;
  justify-content: space-between;
}

/* Body */
.body {
  display: flex;
  padding: 4.8%;
}

.container-2 {
  width: 100%;;
}

/* Footer */
.footer {
  background-color: #dcdde0;
  border-top: #a0969671 1px solid;
  width: 100%;
  padding: 2rem 4.8% 2rem;
  justify-content: center;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.subtitle {
  margin-bottom: 1.5vh;
  font-size: 1.2rem;
  font-weight: 550;
}

.copyright {
  font-size: 0.9rem;
  margin-top: 1rem;
  color: #6b7280;
  text-align: center;
}

@media (min-width: 1280px) {
  div a:not(.login a) {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .big-button {
    color: #474545;
    background-color: #ffffff;
    font-size: 1.5rem !important;
    font-weight: 550 !important;
    padding: 25px 35px;
    border: #cfcfcf 1px solid;
    border-radius: 40px;
  }

  /* Headings */
  h1 {
    font-size: 9vh !important;
    font-weight: 600 !important;
  }
  
  .custom-gap {
    gap: 40px;
  }

  .custom-font{
    font-size: 1.2rem;
  }

  /* Short menu (hidden) */
  .menu-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  /* Normal menu */
  .nav-links {
    display: flex;
    gap: 40px;
    align-items: center;
    float: right;
  }

  /* Login */
  .login {
    width: 25%;
    margin: 0rem auto 1rem;
    padding: 2rem 2.5rem 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 24px 0 rgba(0,0,0,0.12), 0 1.5px 6px 0 rgba(0,0,0,0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login h2 {
    font-size: 2rem !important;
    font-weight: 600 !important;
    margin: 1rem auto 2.8rem;
    text-align: center;
  }

  .login label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #666a75;
    margin-bottom: 0.5vh;
    width: 100%
  }

  .login input {
    margin-bottom: 2vh;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d1d5db;
    font-size: 1rem;
    margin-top: none;
  }

  .login button {
    width: 100% !important;
    margin: none !important;
    border-radius: 10px;
    background-color: #f1f3f4;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    border: 2px solid #dee2e6;
    color: #333;
  }

  .login a {
    color: #837b7b;
    text-decoration: none;
    margin-top: 3rem;
  }
}